{% load static %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8deb5ae77ef38486d8a2541c58a9a934&libraries=services"></script>

<div class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__logo">
                        <a href="{% url 'calcapp:contact' %}">Developer Dream</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="footer__newslatter">
                        <form action="#">
                            <input type="text" placeholder="Please enter your e-mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h5>Contact</h5>
                    <ul>
                        <li><a href="{% url 'calcapp:contact' %}">Dev Team</a></li>
                        <li><a href="{% url 'calcapp:qna' %}">Q&A</a></li>
                        <li><a href="{% url 'calcapp:faq' %}">FAQ</a></li>
                        <li><a href="{% url 'calcapp:notice' %}">공지사항</a></li>
                        <li><a href="{% url 'calcapp:suggest' %}">건의사항</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h5>Quick links</h5>
                    <ul>
                        <li><a href="{% url 'boardapp:freeboard' %}">자유게시판</a></li>
                        <li><a href="{% url 'boardapp:freeboard' %}">공모전/스터디</a></li>
                        <li><a href="{% url 'boardapp:freeboard' %}">취업/진로</a></li>
                        <li><a href="{% url 'boardapp:freeboard' %}">물물교환/무료나눔</a></li>
                        <li><a href="{% url 'restaurant:rest' %}">가디맛집</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__address">
                    <h5>Our base</h5>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> 서울특별시 금천구 가산디지털1로 168 우림라이온스밸리 A동 620호</li>
                        <li><i class="fa fa-phone"></i> 010-4452-6883</li>
                        <li><i class="fa fa-envelope"></i> hyunicho62@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-6">
                <div id="map" style="width:400px;height:250px;"></div>
                    <script>
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                        mapOption = {
                            center: new kakao.maps.LatLng(37.479966429878, 126.88263620024), // 지도의 중심좌표
                            level: 3 // 지도의 확대 레벨
                        };  

                    // 지도를 생성합니다    
                    var map = new kakao.maps.Map(mapContainer, mapOption); 

                    // 주소-좌표 변환 객체를 생성합니다
                    var geocoder = new kakao.maps.services.Geocoder();

                    // 주소로 좌표를 검색합니다
                    geocoder.addressSearch('서울특별시 금천구 가산디지털1로 168 우림라이온스밸리 A동', function(result, status) {

                        // 정상적으로 검색이 완료됐으면 
                        if (status === kakao.maps.services.Status.OK) {

                            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                            // 결과값으로 받은 위치를 마커로 표시합니다
                            var marker = new kakao.maps.Marker({
                                map: map,
                                position: coords
                            });

                            // 인포윈도우로 장소에 대한 설명을 표시합니다
                            var infowindow = new kakao.maps.InfoWindow({
                                content: '<div style="width:150px;text-align:center;padding:6px 0;">kfq</div>'
                            });
                            infowindow.open(map, marker);

                            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                            //map.setCenter(coords);
                            //console.log(coords)
                        }
                    });    
                </script>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
                <div class="col-lg-5">
                    <ul>
                        <li>All Rights Reserved</li>
                        <li>Terms & Use</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>