<div class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="header__top__left">
                        {% comment %} <li><i class="fa fa-phone"></i>1234-5678</li> {% endcomment %}
                        <li><i class="fa fa-map-marker"></i>Seoul, Woorim Lions Valley, Building a, 6th floor A-6</li>
                        {% comment %} <li><i class="fa fa-clock-o"></i>Mon to Sat 9:00am to 18:00pm</li> {% endcomment %}
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="header__top__right">
                        <a href="https://github.com/haeinyy/webproject_communitysite"><i class="fa fa-dribbble"></i></a>
                        <a href="{% url 'member:login' %}" id="header-box-login__btn">로그인<i class="fas fa-sign-in-alt"></i></a>
                        <a href="{% url 'member:register' %}" id="header-box-register__btn">회원가입<i class="fas fa-sign-up-alt"></i></a>
                        <a href="{% url 'member:logout' %}" id="header-box-logout__btn">로그아웃<i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    .header__logo {
        padding: 15px;
    }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'mainpage:mainhome' %}">
                        <img src='/static/img/log.png' width="100" height="auto" style="float: none; margin:0 auto;">
                    </a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__menu__option">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="{% url 'calcapp:calcpage_result' %}" id="ajax_button">계산기</a>
                            <!-- <li><a href="#" onclick="session_ischeck();">마이페이지</a> -->
                                <ul class="dropdown">
                                    <li><a href="{% url 'calcapp:calcpage_result' %}">계산기</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'boardapp:freeboard' %}">게시판</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'boardapp:freeboard' %}">자유게시판</a></li>
                                    <li><a href="{% url 'boardapp:studyboard' %}">동아리/스터디</a></li>
                                    <li><a href="{% url 'boardapp:jobboard' %}">취업/진로</a></li>
                                    <li><a href="{% url 'boardapp:tradeboard' %}">물물교환/무료나눔</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'restaurant:rest' %}">가디맛집</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'restaurant:rest' %}">추천별</a></li>
                                    <li><a href="{% url 'restaurant:list' %}">리스트</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'calcapp:notice' %}">정보마당</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'calcapp:qna' %}">Q&A</a></li>
                                    <li><a href="{% url 'calcapp:faq' %}">FAQ</a></li>
                                    <li><a href="{% url 'calcapp:notice' %}">공지사항</a></li>
                                    <li><a href="{% url 'calcapp:suggest' %}">건의사항</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'calcapp:contact' %}">Dev Team</a></li>
                        </ul>
                    </nav>
                    <div class="header__btn">
                        <a href="{% url 'calcapp:donation' %}" class="primary-btn">후원</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</div>
<div class="header-box-fill-white">

</div>
