{% include 'load-box.html' %}
{% comment %} 추가하고싶은 css추가 -> <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css"> {% endcomment %}
</head>

<body>
    <!-- HEADER-BOX START -->
    {% include 'header-box.html' %} 
    <!-- HEADER-BOX END -->

    <!-- MIDDLE-BOX START -->
    <section class="breadcrumb-option spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
    <!-- 실제 페이지 내용 쓰기 START-->
                <div style="height:600px; background-color: violet;">
                    <h1>내용넣어요</h1>
                    <h2>{{ request.session.user_phone }}</h2>
                </div>
    <!-- 실제 페이지 내용 쓰기 END-->
            </div>
        </div>
    </section>
    <!-- MIDDLE-BOX END -->
    
     <!-- FOOTER-BOX START -->
    {% include 'footer-box.html' %} 
     <!-- FOOTER-BOX END -->

    <!-- JS부분 -->
    {% include 'js-script.html' %}
    {% comment %} 추가하고싶은 js추가하면됨. -> <script src="/static/js/main.js"></script> {% endcomment %}
    

</body>
</html>