<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/MINI2/static/style.css" >

</head>
<body>
    <!-- HEA    DER-BOX START -->
    <div class="header-box">
        <div class="header-box-title">
            <i class="">아이콘</i>
            <span>홈페이지이름</span>
        </div>
        <div class="header-box-menu">
            <ul>
                <li>게시판</li>
                <li>가디맛방</li>
                <li>계산기</li>
                <li>정보마당</li>
            </ul>
        </div>
    </div>
    <!-- HEADER-BOX END -->


    <!-- MIDDLE-BOX START -->
    <div class="content-box">
        <div class="content-box-">

        </div>


        <!-- SIDE-BOX START -->
        <div class="content-box-sidebar">

        </div>
        <!-- SIDE-BOX END -->
    </div>
    <!-- MIDDLE-BOX END -->


    <!-- FOOTER-BOX START -->
    <div class="footer-box">
        <h3>wr</h3>
        <span>rrrr</span>
    </div>
    <!-- FOOTER-BOX END -->
</body>
</html>