{% include 'mainpage/load-box.html' %}
</head>

<body>
    <!-- HEADER-BOX START -->
    {% include 'mainpage/header-box.html' %}
    <!-- HEADER-BOX END -->

    {% block content %}

    <!-- MIDDLE-BOX -->

    {% endblock content %}

     <!-- FOOTER-BOX START -->
    {% include 'mainpage/footer-box.html' %} 
     <!-- FOOTER-BOX END -->
</body>
    <!-- JS부분 -->
    {% include 'mainpage/js-script.html' %}
    <h1 id="session_user_phone" style="font-size:70px; display:none;">{{get_user_phone}}</h1>
    <script>
        // header-box기능 - 로그인, 회원가입, 로그아웃 버튼을 숨기고 보이는 부분
        var session_user_phone = document.getElementById('session_user_phone').textContent;
        if (session_user_phone != 'None') {
            alert('환영합니다 '+session_user_phone+'님')
            $("#header-box-login__btn").hide();
            $("#header-box-register__btn").hide();
            $("#header-box-logout__btn").show();
        }
        else {
            alert('로그인 후 사용가능')
            $("#header-box-login__btn").show();
            $("#header-box-register__btn").show();
            $("#header-box-logout__btn").hide();
        }
        // 게시판 클릭하면 검사하게하기
        

    </script>
</html>