{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>middlebox</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.14.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'screens/middlebox.css' %}">
</head>

<body>
    <!-- HEADER-BOX START -->
    <!-- HEADER-BOX END -->






    <!-- MIDDLE-BOX START -->
    <div id="wrapper" style="height: auto !important;">
        <div id="container_wr" style="height: auto !important;">
            <!--CONTENT START -->
            <div id="container">
                <div class="content-box-tabs">
                    <div class="tabs">
                        <div class="tab" data-tab-target="#tab1">
                            <p>수료현황</p>
                        </div>
                        <div class="tab" data-tab-target="#tab2">
                            <p>수당현황</p>
                        </div>
                        <div class="tab" data-tab-target="#tab3">
                            <p>계산기</p>
                        </div>
                    </div>
                </div>

                <div class="content-box-contents">
                    <div id="tab1" data-tab-content class="items active">
                        <h2>🎓</h2>
                        <!-- progressbar 추가 -->
                        <p>
                            지금 까지 <em>45/960</em> 시간 완료 했습니다.<br>
                            현재 수료 <em>'불가' or '가능'</em> 합니다.
                        </p>
                        <!-- 팝업창으로 -->
                        <br>
                        <button type="button">상세현황</button>
                    </div>
                    <div id="tab2" data-tab-content class="items">
                        <h2></h2>
                        <p>
                            📌단위기간*출석률이 80% 이상일 경우에 한하여 교육수당 지급<br>
                            📌교육수당 지급금액은 월 최대 300,000원<br>
                            (단위기간: 교육 시작일을 기준으로 1개월 단위로 나눈 기간)<br>
                            <hr>
                            내가 받을 수 있는 교육수당은?<br>
                            <em>'3'</em>회차, 오늘 기준 <em>'45,000'</em>원
                        </p>
                        <!-- 팝업창으로 -->
                        <br>
                        <button type="button">지난달내역</button>
                    </div>
                    <div id="tab3" data-tab-content class="items">
                        <h2>
                            🧮 교육 수당 계산기(출석일수 기준)
                        </h2>
                        <br>
                        <p>
                            <!-- app 만들어야 함 -->
                        <form action="calc" method="POST">
                            <!-- {% csrf_token %} -->
                            하루 4시간 이상 20일 기준<br>
                            출석한 일 수를 입력하세요.<br>
                            <input type="number" name="num1" placeholder="ex) 19">
                            <button type="submit">계산하기</button>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
            <!-- CONTENT END -->

            <!-- SIDE-BOX START -->
            <div id="aside" sytle="height: auto !important;">
                <!-- 로그인/프로필 -->
                <section id="ol_after" class="ol">
                    <header id="ol_after_hd">
                        <h2>로그인</h2>
                    </header>
                    <ul>ㅇ</ul>
                    <footer>ㅇ</footer>
                </section>
                <!-- 계산기 -->
                <div class="lat" id="calc">계산기</div>
                <!-- 공지사항 -->
                <div class="lat_a">
                    <div class ="lat">
                    <h2>공지사항</h2>
                    <ul></ul>
                    <a></a>
                </div>
                </div>
                <!-- 채팅 -->
                <div class="lat" id="chat">채팅</div>
            </div>
            <!-- SIDE-BOX END -->
        :after
        </div>
    </div>
    <!-- MIDDLE-BOX END -->






    

    <!-- FOOTER-BOX START -->
    <!-- FOOTER-BOX END -->

    <script src="{% static 'screens/index.js' %}"></script>
</body>

</html>