{% extends 'mainpage/mainpage.html' %}
{% load static %}
{% block content %}

{% include 'calcapp/calcpage_common.html' %}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option spad set-bg" data-setbg="/static/img/3.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>마이페이지</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'mainpage:mainhome' %}">Home</a>
                        <a href="{% url 'calcapp:calcpage_result' %}">계산기</a>
                        <span style="color:mediumaquamarine;">계산결과</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Chooseus Section Begin -->
<section class="chooseus spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>{{ request.session.user_name }}님이 받을 수 있는 교육수당은</span>
                    <h2>{{ result }}원 입니다!</h2>                    
                </div>
                <a href="{% url 'calcapp:calcpage_result' %}" class="primary-btn">다시 계산하기</a>
            </div>
        </div>
    </div>
</section>
<!-- Chooseus Section End -->

{% endblock %}