{% load static %}

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__logo">
        <a href="{% url 'mainpage:mainhome' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__btn">
        <a href="#" class="primary-btn">Appointment</a>
    </div>
    <ul class="offcanvas__widget">
        <li><i class="fa fa-phone"></i>1234-5678</li>
        <li><i class="fa fa-map-marker"></i>Seoul, Woorim Lions Valley, Building a, 6th floor A-6</li>
        <li><i class="fa fa-clock-o"></i>Mon to Sat 9:00am to 18:00pm</li>
    </ul>
    <div class="offcanvas__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
    </div>
</div>
<!-- Offcanvas Menu End -->