{% extends 'mainpage/mainpage.html' %}
{% load static %}
{% block content %}

<!-- css/js -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% include 'calcapp/calcpage_common.html' %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option spad set-bg" data-setbg="/static/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>마이페이지</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'mainpage:mainhome' %}">Home</a>
                        <a href="{% url 'calcapp:calcpage_result' %}">계산기</a>
                        <span>내정보</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- User Section Begin -->
<section class="doctor spad">
    <div class="container">
        <div class="doctor__item">
            <div class="row">
                <div class="col-lg-6 order-lg-1">
                    <div class="doctor__item__pic">
                        <!-- 이미지 크기 수정  -->
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="doctor__item__text">
                        <span>Welcome,
                        {% for attendance in attnedances %}
                        {% if attendance.name == "김소희" %}
                            {{attendance.name}}</span>
                        {% endif %}
                        {% endfor %}
                        <p>
                            수고했어 오늘도~
                        </p>
                        <ul>
                            <li> -- 리마인드 -- </li>
                            <li><i class="fa fa-check-circle"></i> 출석체크</li>
                            <li><i class="fa fa-check-circle"></i> 교육일정</li>
                            <li><i class="fa fa-check-circle"></i> 자격증일정</li>
                            <li><i class="fa fa-check-circle"></i> 퇴실체크</li>
                        </ul>
                        <div class="doctor__item__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Doctor Section End -->

{% endblock content %}