{% extends 'mainpage/mainpage.html' %}
{% load static %}
{% block content %}

<!-- css/js -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% include 'calcapp/calcpage_common.html' %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option spad set-bg" data-setbg="/static/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>마이페이지</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'mainhome' %}">Home</a>
                        <a href="{% url 'calcapp:calcpage_info' %}">교육정보</a>
                        <a href="{% url 'calcapp:calcpage_result' %}">계산기</a>
                        <span>내정보</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- User Section Begin -->
<section class="doctor spad">
    <div class="container">
        <div class="doctor__item">
            <div class="row">
                <div class="col-lg-6 order-lg-1">
                    <div class="doctor__item__pic">
                        <img src="{% static 'img/doctor/doctor-1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="doctor__item__text">
                        <span>Welcome,
                        {% for attendance in attnedances %}
                        {% if attendance.name == "김소희" %}
                            {{attendance.name}}</span>
                        {% endif %}
                        {% endfor %}
                        <p>
                            수고했어 오늘도~
                        </p>
                        <ul>
                            <li> -- 리마인드 -- </li>
                            <li><i class="fa fa-check-circle"></i> 출석체크</li>
                            <li><i class="fa fa-check-circle"></i> 교육일정</li>
                            <li><i class="fa fa-check-circle"></i> 자격증일정</li>
                            <li><i class="fa fa-check-circle"></i> 퇴실체크</li>
                        </ul>
                        <div class="doctor__item__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Doctor Section End -->

 <!-- Contact Section Begin -->
 <section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="contact__widget">
                    <div class="contact__widget__icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="contact__widget__text">
                        <h5>알림</h5>
                        <p>공지사항 확인하세요.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="contact__widget">
                    <div class="contact__widget__icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="contact__widget__text">
                        <h5>채팅</h5>
                        <p>채팅을 시작하세요.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Pricing Section Begin -->
<section class="pricing spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricing__item">
                    <div class="pricing__item__title">
                        <p>🎓</p>
                        <h3>수료현황</h3>
                    </div>
                    <!-- progress -->                
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- progress -->
                    <ul>
                        {% for attendance in attnedances %}
                        <li>

                            {% if attendance.name == "김소희" %}
                            <span>
                                지금 까지 {{attendance.time}} / 960 시간 완료 했습니다.
                                <br>    
                                {% if attendance.time < 800 %} 
                                {{attendance.time}} 수료 '불가' 합니다. 
                                {% elif attendance.time >= 800 %}
                                    {{attendance.time}} 수료 '가능' 합니다.
                            </span>
                                {% endif %}
                            {% endif %}

                        </li>
                        {% endfor %}
                    </ul>
                    <!-- <a href="#" class="primary-btn">상세현황</a> -->
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricing__item">
                    <div class="pricing__item__title">
                        <p>👑</p>
                        <h3>수당현황
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <span>내가 받을 수 있는 교육수당은?</span>
                        </li>
                        <li>
                            <span>'3'회차, 오늘 기준 '45,000'원</span>
                        </li>
                    </ul>
                    <a href="#" class="primary-btn">지난달 내역</a>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricing__item">
                    <div class="pricing__item__title">
                        <p>🎓</p>
                        <h3>상세현황</h3>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">이름</th>
                                <th scope="col">출석일수</th>
                                <th scope="col">결석일수</th>
                                <th scope="col">출석시간</th>
                                <th scope="col">출석률</th>
                                <th scope="col">dat_rate</th>
                                <th scope="col">누적출석률</th>
                                <th scope="col">day_cum_rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attendance in attnedances %}
                            <tr>
                                <th scope="row">{{attendance.name}}</th>
                                <td>{{attendance.attend}}</td>
                                <td>{{attendance.absent}}</td>
                                <td>{{attendance.time}}</td>
                                <td>{{attendance.time_rate}}%</td>
                                <td>{{attendance.day_rate}}%</td>
                                <td>{{attendance.time_cum_rate}}%</td>
                                <td>{{attendance.day_cum_rate}}%</td>
                            </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                    <!-- test -->
                    <!-- <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for userinfo in userinfos %}
                            <tr>
                                <td>{{userinfo.id}}</td>
                                <td>{{userinfo.title}}
                                    {% if userinfo.topRated %}
                                    <strong>TOP RATED</strong>
                                    {% endif %}
                                </td>
                                <td>{{userinfo.description}}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table> -->
                    <!-- test -->
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricing__item">
                    <div class="pricing__item__title">
                        <p>👑</p>
                        <h3>지난달 내역</h3>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">회차</th>
                                <th scope="col">수당</th>
                                <th scope="col">누적</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>11</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>11</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>11</td>
                                <td>33</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th scope="row">총액</th>
                            <td colspan="2">66</td>
                        </tfoot>
                    </table>
                    <button type="button" class="btn btn-primary" data-toggle="popover" data-placement="top"
                        title="지급 기준" data-content="
                📌단위기간*출석률이 80% 이상일 경우에 한하여 교육수당 지급<br>
                📌교육수당 지급금액은 월 최대 300,000원<br>
                (단위기간: 교육 시작일을 기준으로 1개월 단위로 나눈 기간)
                "> 지급 기준
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- Pricing Section End -->

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
</script>

{% endblock content %}