{% extends 'mainpage/mainpage.html' %}
{% load static %}
{% block content %}

{% include 'calcapp/calcpage_common.html' %}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option spad set-bg" data-setbg="/static/img/submain-bg.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Dev Dream Team</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'mainpage:mainhome' %}">Home</a>
                        <span>Dev Team</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<br>

우리 정보 대충 쑤셔 넣ㅇ~~


{% endblock %}