<!-- SIDE-BOX START -->
<div class="content-box-sidebar">
    <div id="aside" sytle="height: auto !important;">
        <!-- 로그인/프로필 -->
        <section id="ol_after" class="ol">
            <header id="ol_after_hd">
                <h2>로그인</h2>
            </header>
            <ul>ㅇ</ul>
            <footer>ㅇ</footer>
        </section>
        <!-- 계산기 -->
        <div class="lat" id="calc">계산기</div>
        <!-- 공지사항 -->
        <div class="lat_a">
            <div class="lat">
                <h2>공지사항</h2>
                <ul></ul>
                <a></a>
            </div>
        </div>
        <!-- 채팅 -->
        <div class="lat" id="chat">채팅</div>
    </div>
    <!-- SIDE-BOX END -->
</div>