{% extends 'mainpage/mainpage.html' %}

{% block content %}
<!-- 해인수정 - 페이지경로 -->
    <!-- 위에 그림 및 페이지 경로 Url -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option spad set-bg" data-setbg="/static/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>글쓰기</h2>
                        <div class="breadcrumb__links">
                            <a href="/mainpage/">Home</a>
                            <a href="#">게시판</a>
                            <!-- <a href="{% url 'boardapp:freeboard' %}">자유게시판</a> -->
                            <span>글쓰기</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- MIDDLE-BOX START -->
    <section class="breadcrumb-option spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <form action="{% url 'boardapp:writetext' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- 개시판분류 -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">분류</span>
                    </div>
                    <select class="custom-select" id="inputGroupSelect02" name="board_kind">
                        <!-- 게시판이름 자동으로 들어오게 해야함 -->
                        <option selected>자유게시판</option>
                        <option value="1">동아리/스터디</option>
                        <option value="2">취업/진로</option>
                        <option value="3">물물교환/무료나눔</option>
                    </select>
                </div>

                <!-- 제목 -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">제목</span>
                    </div>
                    <input type="text" class="form-control" placeholder="제목을 입력해주세요" aria-label="제목을 입력해주세요"
                        name='title'>
                </div>

                <!-- 파일첨부 -->
                <!-- <form method='POST' action="{% url 'boardapp:writetext' %}" , enctype="multipart/form-data"> -->
                <!-- {% csrf_token %} -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">파일</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile02" name='images' multiple>
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">파일을 첨부해주세요</label>
                    </div>
                    {% comment %} <div class="input-group-append">
                        <!-- <input type="submit" class="btn btn-secondary" value="업로드"> -->
                        <button class="btn btn-secondary" id="button-addon2">업로드</button>
                    </div> {% endcomment %}
                </div>
                <!-- </form> -->

                <!-- 텍스트 -->
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">내용</span>
                    </div>
                    <!-- <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                    <textarea class="form-control" aria-label="With textarea" name='text'></textarea>
                </div>

                <!-- 임시저장 / 등록 버튼 -->
                <br><br>
                <div class="row justify-content-md-center">
                    <div class="col col-lg-2">
                        <button type="submit" class="btn btn-secondary">임시저장</button>
                        <button type="submit" class="btn btn-secondary">등록</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- MIDDLE-BOX END -->

{% endblock content %}
