<div class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="header__top__left">
                        {% comment %} <li><i class="fa fa-phone"></i> 1-677-124-44227</li> {% endcomment %}
                        <li><i class="fa fa-map-marker"></i> Los Angeles Gournadi, 1230 Bariasl</li>
                        {% comment %} <li><i class="fa fa-clock-o"></i> Mon to Sat 9:00am to 18:00pm</li> {% endcomment %}
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="header__top__right">
                        <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
                        <a href="#"><i class="fas fa-sign-in-alt"></i></a> 
                        <a href="#"><i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/MINI2/templates/mainpage/mainhome.html">
                        Kfq
                    </a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__menu__option">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/mainpage/">Home</a></li>
                            <!-- <li><a href="./about.html">게시판</a></li> -->
                            <li><a href="#">게시판</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'boardapp:freeboard' %}">자유게시판</a></li>
                                    <li><a href="#">동아리/스터디</a></li>
                                    <li><a href="#">취업/진로</a></li>
                                    <li><a href="#">물물교환/무료나눔</a></li>
                                </ul>
                            </li>
                            <li><a href="./services.html">맛집</a></li>
                            <li><a href="#">계산기</a></li>
                            <li><a href="#">정보마당</a>
                                <ul class="dropdown">
                                    <li><a href="#">Q&A</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">공지사항</a></li>
                                    <li><a href="#">건의사항</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="header__btn">
                        <a href="#" class="primary-btn">후원</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</div>
<div class="header-box-fill-white">

</div>